h1 {
    color: powderblue;
}

h2 {
    color: #33ee11
}

h3 {
    color: #00FFDD;
}

h4 {
    color: #EBEB2244;
}

h5 {
    color: #77BB
}

h6 {
    color: rgb(233, 0, 0)
}

p {
    color: rgba(0, 0, 219, 0.5)
}



